@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* primary color */
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark-01 */
.text-black{
    color: #131313;
}
/* dark-02 */
.text-grey{
    color: #424242;
}
/* dark-03 */
.text-light-grey{
    color: #727272;
}
/* button styles */
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

/* nav styles */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.list-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-desc{
    font-size: 1rem;
}
.banner-picture{
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* team & feature releted styles  */
.team-container{
    align-items: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    margin-left: 73px;
    max-width: 500px;
}

.section-title{
   font-size: 3rem;
   font-weight: 700;
}
.section-desc{
    font-size: 1rem;
    font-weight: 400;
}
.feature-clr{
    color: rgba(255, 144, 14, 1);
}
#quick-list{
    font-size: 3rem;
    font-weight: 500;
    color: #727272;
}
/* fact releted styles */
.card-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 124px; */
    /* margin-left: 50px; */
}
.card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    /* padding: 50px 35px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 30px; */

}
.card-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}
.fact-desc{
    max-width: 540px;
}
/* responsiveness for small devices */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .team-container{
        flex-direction: column;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        margin-left: 70px;
    }
    
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-container{
        flex-direction: column;
    }
    .team{
        grid-template-columns: repeat(2, 1fr);
    }
    .features{
        margin-left: 50px;
    }
    
}